[Unit]
Description="Eledger Service"
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
WorkingDirectory=/opt/eledger
SuccessExitStatus=143
ExecStart=java -Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager -Xmx768m -jar /opt/eledger/eledger.jar

[Install]
WantedBy=multi-user.target
